/* Default styles */

:root {
  --primary-color: #605eba;
  --secondary-color: #74b9b9;
  --button-color: #c74787;
  --tertiary-color: #8484e0;
  --active-color: #47c7a5;
  --primary-font: "Harmond", serif;
  --secondary-font: "Goudy Bookletter 1911", serif;
  --tertiary-font: "Plus Jakarta Sans", sans-serif;
  --nav-load-time: 300ms;
}

@font-face {
  font-family: "Harmond";
  src: url(./assets/fonts/Harmond-SemiBoldCondensed.otf);
}

*:hover {
  transition: all 200ms ease;
}

body,
input,
textarea,
button {
  font: 18px var(--tertiary-font);
}

body {
  /* display: flex; */
  margin: 0;
  color: var(--primary-color);
  line-height: 26px;
  background-color:hsla(0,72%,97%,1);
  background-image:
  radial-gradient(at 40% 20%, rgb(255, 255, 255) 0px, transparent 50%),
  radial-gradient(at 67% 17%, rgb(255, 224, 248) 0px, transparent 50%),
  radial-gradient(at 0% 50%, rgb(255, 241, 242) 0px, transparent 50%),
  radial-gradient(at 80% 49%, hsla(335,0%,98%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, rgb(254, 236, 248) 0px, transparent 50%),
  radial-gradient(at 80% 100%, rgb(228, 227, 255) 0px, transparent 50%),
  radial-gradient(at 0% 0%, rgb(248, 243, 248) 0px, transparent 50%);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

section {
  padding: 100px;
  border-bottom: solid 1px;
}

h1,
h2,
p {
  margin: 0 0 50px 0;
}

h2 {
  font: 96px var(--primary-font);
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

button {
  border: none;
}

#logo-menu,
#brand,
h1,
h2,
h3,
p,
#skills {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

.hidden {
  opacity: 0;
  transition: all 1.5s;
}

.show {
  opacity: 1;
}

#circle-cursor { 
  position: absolute;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #c74787;
  z-index: 99;
  pointer-events: none;
  opacity: 90%;
}

/* Default styles for smaller screens */

@media (max-width: 800px) {

  section {
    padding: 40px 20px;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  
  #circle-cursor {
    display: none;
  }

}

/* End of default styles */

/* Side nav styles */

#side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 4px solid;
  width: 100px;
  font-size: 16px;
  position: relative;
  top: 0;
  margin-left: -96px;
  transition: all 50ms ease;
  z-index: 10;
  background-color: transparent;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  background: linear-gradient(
    117deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 235, 255) 100%
  );
  border-right: solid 1px var(--primary-color);
}

#side-nav ul {
  padding: 0 15px;
}

#side-nav li {
  margin-bottom: 10px;
}

#side-nav a {
  color: var(--primary-color);
  display: block;
}

#side-nav li:hover {
  background-color: var(--secondary-color);
}

#side-nav li a:hover {
  color: white;
  transition: all 100ms ease;
}

#github-2 {
  fill: var(--primary-color);
  width: 50px;
  margin: 10px auto;
  animation-name: float;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#github-2:hover {
  fill: var(--secondary-color);
}

/* Side nav styles for smaller screens */

@media (max-width: 800px) {

}

/* End of Side nav styles */

/* Header styles */

#logo-menu {
  position: absolute;
  top: 11px;
  left: 104px;
  /* width: 70px; */
  /* height: 60px; */
  display: flex;
  /* text-align: center;
  justify-content: center;
  border-radius: 50%; */
  background-color: transparent;
  cursor: pointer;
}

#logo {
  width: 60px;
  animation: fadeIn 1s ease-in; 
  /* width: 80px; */
}

#brand {
  font: 30px var(--secondary-font);
  font-weight: 400;
  color: var(--secondary-color);
  margin: 0;
  margin-left: 30px;
  text-decoration: none;
}

#brand:hover {
  /* color: var(--active-color); */
  transform: scale(1.1);
}

#header-nav {
  display: flex;
  padding-left: 46px;
  justify-content: end;
  /* align-items: center; */
  border-bottom: 1px solid;
  height: 80px;
  background: linear-gradient(
    117deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 235, 255) 100%
  );
  /* animation: nav-load --nav-load-time ease-in; */
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 100%;
  width: 200px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}


.contact-btn:hover {
  background-color: var(--secondary-color);
  font-size: 105%;
}

.contact-btn:active {
  background-color: var(--active-color);
}

#hero {
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
}

#container-1 {
  width: 500px;
  margin-right: 20px;
}

#container-2 {
  width: 500px;
}
#container-2 img {
  width: 100%;
}

#hero h1 {
  font: 114px var(--primary-font);
  line-height: 90.63px;
  width: 443px;
  /* padding-right: 100px;
  position: relative; */
}

.lead-1 {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  display: inline-block;
}

.lead-2 {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  display: inline-block;
}

.lead-3,
h2 {
  color: var(--tertiary-color);
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  display: inline-block;
}

.intro {
  display: flex;
  flex-direction: column;
  flex: 0 0 0%;
}

.intro p {
  /* width: 400px; */
  font-size: 22px;
  line-height: 40px;
}

#skills {
  animation-delay: 1.5s;
}

#skills svg {
  height: 40px;
  width: 40px;
  fill: #74b9b9;
}

#skills li {
  list-style-type: none;
  display: inline;
}

#skills li svg:hover {
  transform: scale(1.1);
}

#css3 {
  margin-left: -5px;
}

#linux {
  margin-left: -5px;
}

#sketch {
  margin-left: -4px;
}

#windows {
  margin-left: -2px;
}

#apple {
  margin-left: -2px;
}

/* Header styles for smaller screens */

@media (max-width: 800px) {
  
  #header-nav {
    height: 60px;
  }

  .contact-btn {
    width: 150px;
    font-size: 16px;
  }

  #logo-menu {
    top: 5px;
    left: 90px;
  }

  #logo {
    width: 50px;
  }

  #brand {
    display: none;
  }
  
  .button-1 {
    display: none;
  }

  #hero {
    justify-content: space-around;
  }

  #hero h1 {
    font-size: 70px;
    line-height: 60px;
    width: 300px;
    display: block;
    /* padding-right: 100px; */
  }

  .intro-container p {
    width: 100%;
  }

  .project-vid {
    width: 100%;
  }
}

/* End of header styles */

/* Main styles */

/* 1. Project styles */


#project-container,
#recs-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portrait {
  width: 300px;
}

.project {
  margin: 10px 10px 40px 10px;
  border: solid 1px;
  width: 400px;
  box-shadow: 20px 20px #54ab94;
  background: linear-gradient(
    117deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 235, 255) 100%
  );
}

.project-vid {
  width: 400px;
  border-bottom: solid 1px;
}

.project-details {
  padding: 25px;
  margin-top: -7px;
}

.project-details h3,
p {
  margin: 0 0 20px 0;
}

.project-details h3 {
  font-size: 27px;
  font-weight: 700;
}

.project-details ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin: 0;
}

.project-details li {
  margin: 10px 17px 10px 16px;
  list-style-type: disc;
}

.project-details button {
  width: 60px;
  background-color: transparent;
}

.project-link {
  display: flex;
  justify-content: flex-end;
  margin: 0 30px 10px 0;
}

.project-link p {
  color: var(--primary-color);
  margin: 0;
}

.project-link a {
  position: relative;
  left: 0;
  display: inline-flex;
  border-bottom: 5px solid;
  color: var(--primary-color);
}

.project-link a:hover {
  border-color: var(--secondary-color);
  left: 10px;
  padding-left: 20px;
  transition: all 200ms ease-in;
}

.arrow {
  height: 30px;
  color: inherit;
  fill: var(--primary-color);
  margin-right: -8px;
}

/* Project styles for smaller screens */

@media (max-width: 800px) {
  
  .project {
    width: 100%;
    box-shadow: 11px 20px #54ab94;
    margin-bottom: 100px;
  }

  .project-vid {
    width: 100%;
  }

}

/* End of project styles */

/* 2. Recommendation styles */

#recs-container {
  justify-content: flex-start;
}

.block-quote {
  margin: 10px 50px 40px 10px;
  width: 400px;
  position: relative;
}

.block-quote:before {
  content: "\201C";
  font-size: 100px;
  position: absolute;
  left: -6px;
  top: -20px;
  color: var(--secondary-color);
}

.block-quote p {
  font-size: 20px;
  line-height: 1.2em;
}

.citation h3 {
  margin-bottom: 0;
}

.citation p {
  font-size: 14px;
}

/* Recommendation styles for smaller screens */

@media (max-width: 800px) {

  .block-quote:before {
    left: -6px;
    top: -10px;
  }

}

/* End of recommendation styles */

/* 3. Contact styles */

#contact {
  background-color: var(--primary-color);
  color: white;
  margin: 0 100px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

#contact h2 {
  width: 100%;
  text-align: center;
  color: white;
  font: 46px var(--tertiary-font);
  margin-bottom: 20px;
  font-weight: bold;
}

#contact-container {
  display: flex;
  justify-content: center;
  height: 80px;
}

.alt {
  background-color: none;
  margin-right: 24px;
  border: solid 1px white;
}

#github-3 svg {
  width: 80px;
  fill: white;
  animation-name: float;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#github-3 svg:hover {
  fill: var(--secondary-color);
}

#github-3 svg:active {
  fill: var(--active-color);
}

/* Alternative contact styles for smaller screens */

@media (max-width: 800px) {

  #contact {
    margin: 0px;
  }

  #contact h2 {
    font-size: 30px;
    line-height: 40px;
  } 

}

/* End of contact styles */
/* End of main styles */

/* Footer styles */

footer {
  text-align: center;
  padding-top: 20px;
  border-top: solid 1px var(--primary-color);
  font-size: 0.9em;
}

/* End of footer styles */


/* Keyframes */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}



